<div class="inner-content">
	<div class="leeds-container">
		<div class="top">
			<div class="filter-bar">
				<span>Search</span>
				<input type="text" [(ngModel)]="filterText">
			</div>
			<div class="button-bar">
				<button class="btn btn-success btn-xs" (click)="play()" name="button">
					<span class="fa fa-play"></span> Auto Dial
				</button>
				<button class="btn btn-danger btn-xs" (click)="pause()" name="button">
					<span class="fa fa-stop"></span> Stop
				</button>
			</div>

		</div>
		<div *ngIf="autoPlay" class="middle">
			<img src="assets/img/puff.svg" />
			<span>Calling</span>
		</div>
		<div class="bottom">
			<div class="leeds">
				<div *ngFor="let leed of getLeeds()" (click)="selectLeed(leed)">
					<phoneleed [leed]="leed"></phoneleed>
				</div>
			</div>
		</div>
	</div>
	<div class="phonebox-container">
		<phonebox #phoneBox{{leed.id}} *ngFor="let leed of leeds" [leed]="leed" [twilioToken]="twilioToken" [ngClass]="{hidden: !leed.selected}"></phonebox>
	</div>

</div>
