.hidden {
	display: none;
}

.leeds-container {
	height: 80vh;
	width: 33%;
	border-radius: 5px;
	padding: 10px;
	margin: 15px 5px;
	background: #cbcbcb;
	border: 2px solid black;

	.top {

		display: flex;
		justify-content: space-around;

		.filter-bar {
			span {
				font-weight: bold;
			}

			input {
				border: 2px solid black;
				border-radius: 5px;
			}
		}
	}

	.middle {
		span {
			font-weight: bold;
		}
	}


	.bottom {
		overflow-y: auto;
		margin: 1rem 0;
		height: 90%;
	}
}

.phonebox-container {
	margin: 15px;
	width: 60%;
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	.leeds-container {
		height: 73vh;
	}
}
@media screen and (max-height: 500px) {
	.leeds-container {
		height: 65vh;
	}
}
