<div class="phonebox">
	<div class="top">
		<div class="left">
			<div class="title">
				<span class="name">{{leed.data.name}}</span>
				<span class="times-dialed">Times Dialed: {{leed.data.timesDialed}}</span>
			</div>
			<input class="phone-number" [textMask]="{mask: phoneMask}" type="text" [(ngModel)]="number" />
		</div>
		<div class="right">
			<button class="btn btn-success btn-xs" (click)="makeCall()" name="button">
				<span class="fa fa-phone"></span> Call
			</button>
			<!-- <button class="btn btn-warning btn-xs" (click)="logLeed()" name="button">
				<span class="fa fa-microphone"></span> Leave Message
			</button> -->
			<button class="btn btn-danger btn-xs" (click)="hangUp()" name="button">
				<span class="fa fa-phone fa-rotate-135"></span> Hang Up
			</button>
			<button class="btn btn-danger btn-xs" (click)="deleteLeed()" name="button">
				<span class="fa fa-trash"></span> Delete
			</button>
			<span class="email">{{leed.data.email}}</span>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<div class="note-input-bar">
				<span class="notes-title">Leave a note</span>
				<button class="btn btn-success btn-xs" (click)="addNote()" name="button">
					<span class="fa fa-plus"></span> Add Note
				</button>
			</div>
			<textarea name="notes" [(ngModel)]="leed.data.notes[noteIndex]" rows="8" cols="80"></textarea>
		</div>
		<div class="right">
			<span class="notes-title">Notes</span>
			<div class="notes-list">
				<ul class="previous-notes">
					<li *ngFor="let note of leed.data.notes">{{note}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
