.phonebox {
	display: flex;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	flex-direction: column;
	min-width: 200px;
	max-height: 82vh;

	.top {
		display: flex;
		margin: 15px;
		width: 100%;

		.left{
			display: flex;
		    flex-direction: column;
			width: 35%;

			span {
				margin: 5px;
				font-weight: bold;
				font-size: 2rem;
			}

			.times-dialed {
				color: darkgray;
			}

			input {
				border: 2px solid black;
				border-radius: 5px;
			}
		}

		.right {
			display: flex;
			flex-wrap: wrap;
			padding: 10px;
			width: 60%;

			button {
				margin: 5px;
				max-height: 2.5rem;
			}

			.email {
				margin: 5px;
				font-weight: bold;
				font-size: 2rem;
			}
		}

	}

	.bottom {
		margin: 15px;
		display: flex;

		.notes-title {
			font-weight: bold;
			font-size: 1.3rem;
		}

		.left {
			width: 50%;

			textarea {
				border: 2px solid black;
				border-radius: 5px;
				min-height: 80%;
				resize: none;
				width: 99%;
			}
		}

		.right {
			text-align: center;
			padding: 0 0 0 2rem;
			width: 40%;

			.notes-list {
				border: 2px solid black;
			    border-radius: 5px;
			    overflow: hidden;
			    overflow-y: auto;
			    padding: 1rem;
			    text-align: left;
			    width: 99%;
			    max-height: 89%;
			}
		}

	}

}
