.login-page {
	background-color: #6500bf;
	height: 100%;
	display: flex;
	vertical-align: middle;
}

.loading-wrapper{
	margin: auto;
	background-color: #FFF;
	border-radius: 1rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-wrapper {
	height: 80%;
	margin: auto;
	padding: 1rem;
	overflow: hidden;
	width: 30%;
	background-color: #FFF;
	border-radius: 1rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form {
	height: 90%;
	overflow: auto;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
@media screen and (max-width: 800px) and (min-width: 600px) {
	.form-wrapper {
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
    .form-wrapper {
		width: 70%;
	}
}

.alert {
	background: rgba(255, 0, 0, 0.6);
	border-radius: 5px;
	border: solid 2px red;
	margin: 1rem 0;
}

.login-form img {
	max-width: 100%;
	min-height: 25vh;
}
.login-form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	border: solid 2px #6500bf;
	background: #d4d4d4;
	width: 100%;
	border-radius: 5px;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.login-form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #6500bf;
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.login-form button:hover,.form button:active,.form button:focus {
	background: #500096;
}
.login-form .message {
	margin: 1rem;
	color: #b3b3b3;
	font-size: 12px;
}
.login-form .message a {
	color: #7a4caf;
	text-decoration: none;
}

.login-form .balls {
	min-height: 10%;
	width: 10%;
}

.has-error input{
	border: solid 2px red;
	background: rgba(255, 0, 0, 0.6);
}
