<div class="login-page">
	<div class="loading-wrapper" *ngIf="loading">
		<img class="balls" *ngIf="loading" src="assets/img/balls.svg" />
	</div>
	<div class="form-wrapper" *ngIf="!loading">
		<div class="login-form">
			<img src="assets/img/logo.png" />
			<form name="form" (ngSubmit)="f.form.valid && registerFacade()" #f="ngForm">
				<div *ngIf="f.submitted && !f.form.valid" class="alert">Please fill out all the red fields</div>
				<div *ngIf="error" class="alert">{{error}}</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
					<input type="text" class="form-control" name="firstName"
					[(ngModel)]="model.firstName" #firstName="ngModel" required />
					<span class="floating-label">First Name</span>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
					<input type="text" class="form-control" name="lastName"
					[(ngModel)]="model.lastName" #lastName="ngModel" required />
					<span class="floating-label">Last Name</span>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<input type="email" class="form-control" name="email"
					[(ngModel)]="model.email" #email="ngModel" required />
					<span class="floating-label">Email</span>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid || usernameError }">
					<input type="text" class="form-control" name="username"
					[(ngModel)]="model.username" (ngModelChange)="usernameChange()" #username="ngModel" required />
					<span class="floating-label">Username</span>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					<input type="password" class="form-control" name="password"
					[(ngModel)]="model.password" #password="ngModel" required/>
					<span class="floating-label">Password</span>
				</div>
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">Register</button>
				</div>

			</form>
		</div>
	</div>
</div>
