.user-info-outer {
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36),
				0 2px 10px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
}

.user-info-inner {
	display: flex;
	flex-direction: column;
	padding: .1rem 15px;
	text-align: center;
}

.child{
	margin: 5px 0;
}

.title{
	font-size: 2.5rem;
	text-transform: capitalize;
}

.img-wrapper {
	padding: 0 25%;
}

.img-wrapper img {
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
}
