<div class="user-info-outer">
	<div class="user-info-inner">
		<span class="child title">{{user.data.firstName}} {{user.data.lastName}}</span>
		<div class="child img-wrapper">
			<img src="assets/img/avatar.jpg" (click)="logUser()">
		</div>
	</div>
</div>
