.inner-content {
	padding: 1rem;
	display: flex;
}

.left-column{
	width: 24.9999%;
}

.user-card{

}

.right-column{
	color: white;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
    padding: 2rem;
	width: 74.9999%;

	.user-form,.business-form {
		margin: 1rem 15%;
		border: 1px solid white;
		border-radius: 2rem;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		font-weight: bold;
		padding: 2rem 10%;

		h2 {
			text-align: center;
		    font-size: 2rem;
		    text-decoration: underline;
		}

		.controls {
			font-size: 1.7rem;
			display: flex;
			flex-flow: row;
			justify-content: flex-end;


			span {
				cursor: pointer;
				margin: 0 1rem;

				&.save{
					color: green;
				}
				&.cancel{
					color: red;
				}
			}
		}

		.user-field,.business-field {
			margin: 1rem 0;
			display: flex;
			justify-content: space-between;

			input.disabled {
				border: none;
				direction: rtl;
				font-family: inherit;
				font-size: inherit;
				pointer-events: none;
				background: transparent;
				color: white;
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 1px;
				text-overflow: '';
			}
		}
	}
}
