<div class="inner-content">
	<div class="left-column">
		<user-info class="user-card" [user]="currentUser"></user-info>
	</div>
	<div class="right-column">
		<div class="user-form">
			<h2>User Data</h2>
			<div class="controls">
				<span (click)="toggleEdit()"*ngIf="!editMode"><i class="fa fa-pencil"></i> Edit</span>
				<span class="save" (click)="updateUser()" *ngIf="editMode"><i class="fa fa-floppy-o"></i> Save</span>
				<span class="cancel" (click)="cancelEdit()" *ngIf="editMode"><i class="fa fa-times"></i> Cancel</span>
			</div>
			<div class="user-field">
				<span>First Name</span>
				<input [ngClass]="{disabled: !editMode}" [(ngModel)]="currentUser.data.firstName"  />
			</div>
			<div class="user-field">
				<span>Last Name</span>
				<input [ngClass]="{disabled: !editMode}" [(ngModel)]="currentUser.data.lastName"  />
			</div>
			<div class="user-field">
				<span>Email</span>
				<input [ngClass]="{disabled: !editMode}" [(ngModel)]="currentUser.data.email"  />
			</div>
			<div class="user-field">
				<span>Number</span>
				<input *ngIf="editMode" [textMask]="{mask: phoneMask}" [(ngModel)]="currentUser.data.number"  />
				<span *ngIf="!editMode" style="font-weight: normal;">{{currentUser.data.number}}</span>
			</div>
		</div>
		<div *ngIf="business && isAdmin()" class="business-form">
			<h2>Twilio Data</h2>
			<div class="controls">
				<span (click)="toggleBusinessEdit()"*ngIf="!businessEditMode"><i class="fa fa-pencil"></i> Edit</span>
				<span class="save" (click)="updateBusiness()" *ngIf="businessEditMode"><i class="fa fa-floppy-o"></i> Save</span>
				<span class="cancel" (click)="cancelBusinessEdit()" *ngIf="businessEditMode"><i class="fa fa-times"></i> Cancel</span>
			</div>
			<div class="business-field">
				<span>App SID</span>
				<input [ngClass]="{disabled: !businessEditMode}" [(ngModel)]="business.appSID"  />
			</div>
			<div class="business-field">
				<span>Twilio SID</span>
				<input [ngClass]="{disabled: !businessEditMode}" [(ngModel)]="business.twilioSID"  />
			</div>
			<div class="business-field">
				<span>Twilio Token</span>
				<input [ngClass]="{disabled: !businessEditMode}" [(ngModel)]="business.twilioToken"  />
			</div>
		</div>
	</div>
</div>
