<div class="inner-content">
	<div class="left-column">
		<div class="filter-bar">
			<span>Search</span>
			<input type="text" [(ngModel)]="filterText">
		</div>
		<div class="filter-bar">
			<span>Upload Date</span>
			<select [(ngModel)]="selectedDate" (change)="ngOnInit()">
				<option value="all">All</option>
				<option *ngFor="let date of leedDates" value="{{date}}">{{date}}</option>
			</select>
		</div>
		<div class="filter-bar">
			<span>Campaign</span>
			<select [(ngModel)]="campaign" (change)="ngOnInit()">
				<option value="all">All</option>
				<option *ngFor="let campaign of campaignList" value="{{campaign}}">{{campaign}}</option>
			</select>
		</div>
		<div class="leeds">
			<leed *ngFor="let leed of getLeeds()" (click)="setAssigned(leed, $event)" [leed]="leed"></leed>
		</div>
	</div>
	<div class="right-column">
		<div class="users">
			<div *ngFor="let user of users" class="userbox">
				<userbox (onAssigned)="ngOnInit()" [leedService]="leedService" [user]="user"></userbox>
			</div>
		</div>
	</div>
</div>
