.inner-content {
	justify-content: space-around;
}

.left-column {

	height: 88vh;
	background: #cbcbcb;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	width: 23%;

	.filter-bar {
		height: 5%;
		span {
			font-weight: bold;
		}

		input,select {
			border: 2px solid black;
			border-radius: 5px;
		}
	}

	.leeds {
		height: 90%;
		overflow: auto;
	}
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	.left-column {
		height: 81vh;
	}
}
@media screen and (max-height: 500px) {
	.left-column {
		height: 76vh;
	}
}

.right-column {

	height: 88vh;
	background: #cbcbcb;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	width: 73%;

	.users {
		height: 100%;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	.right-column {
		height: 81vh;
	}
}
@media screen and (max-height: 500px) {
	.right-column {
		height: 76vh;
	}
}

.userbox {
	width: 48%;
	margin: 5px;
}
