<div class="leed" [ngClass]="{selected: leed.selected}" (click)="selectMe()">
	<div class="left">
		<input type="checkbox" value="None" id="squaredThree"
		[(ngModel)]="leed.selected" name="check" (click)="selectMe()" checked />
      	<label for="squaredThree"></label>
	</div>
	<div class="right">
		<span>{{leed.data.name}}</span>
		<span>{{leed.phone}}</span>
	</div>
</div>
