.leed{
	cursor: pointer;
	display: flex;
	background: #6500bf;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px 0;
	min-width: 200px;

	&selected {
		background: red;
	}

	.left{
		width: 15%;
		position: relative;
		margin: 15px;
		label {
			width: 20px;
			height: 20px;
			cursor: pointer;
			position: absolute;
			right: 0;
			left: 0;
			background: #FFFFFF;
			border-radius: 4px;
			box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
			&:after {
				content: '';
				width: 9px;
				height: 5px;
				position: absolute;
				top: 4px;
				left: 4px;
				border: 3px solid #000000;
				border-top: none;
				border-right: none;
				background: transparent;
				opacity: 0;
				transform: rotate(-45deg);
			}
			&:hover::after {
				opacity: 0.3;
			}
		}
		input[type=checkbox] {
			visibility: hidden;
			&:checked + label:after {
				opacity: 1;
			}
		}
	}

	.right {
		width: 90%;
		display: flex;
		flex-direction: column;
	}
}
