.phone-leed{
	cursor: pointer;
	display: flex;
	background: #6500bf;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	justify-content: space-around;
	margin: 5px 0;
	min-width: 200px;

	&selected {
		background: red;
	}
}
