.app-wrapper{
	height: 100%;
}

nav {
	background-color: #6500bf;
	display: flex;
	height: 6vh;
	justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}

.nav-logo {
	padding: 0 1rem;
}

.right {
	float: right;
}

span {
	width: 33%;
	display: flex
}

.nav-right {
	justify-content: flex-end;
}

a {
	color: white;
	font-family: "Roboto";
    display: block;
	font-size: 2vh;
	padding: 3%;
    text-align: center;
    text-decoration: none;
	width: 20%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a:hover:not(.active) {
    background-color: #500096;
}

.active {
    background-color: #400375;
}

.content {
	height: 94vh;
	background: #6500bf;
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	nav {
		height: 10vh;
	}
	.content {
		height: 90vh;
	}
	a {
		font-size: 3vh;
		padding: 5%;
	}
}
@media screen and (max-height: 500px) {
	nav {
		height: 13vh;
	}
	.content {
		height: 87vh;
	}
	a {
		font-size: 4vh;
		padding: 4%;
	}
}
