<div class="app-wrapper">
	<nav class="navbar-header">
		<span class="nav-left">
			<a class="nav-logo" routerLink="/home"><img src="assets/img/logo.png" /></a>
			<a routerLink="/home" *ngIf="isLoggedIn()" routerLinkActive="active">Home</a>
			<a routerLink="/leeds" *ngIf="isLoggedIn()" routerLinkActive="active">Leads</a>
			<a routerLink="/upload" *ngIf="isAdmin()" routerLinkActive="active">Upload</a>
			<a routerLink="/manage" *ngIf="isAdmin()" routerLinkActive="active">Manage</a>
		</span>
		<span class="nav-middle">
		</span>
		<span class="nav-right">
			<a class="right" routerLink="/login">{{loginName()}}</a>
			<a class="right" *ngIf="!isLoggedIn()" routerLink="/register">Register</a>
		</span>
	</nav>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
