<div class="login-page">
	<div class="loading-wrapper" *ngIf="loading">
		<img class="balls" *ngIf="loading" src="assets/img/balls.svg" />
	</div>
	<div class="form-wrapper" *ngIf="!loading">
		<div class="login-form">
			<img src="assets/img/logo.png" />
			<form name="form" (ngSubmit)="f.form.valid && loginFacade()" #f="ngForm" novalidate>
				<div *ngIf="f.submitted && !f.form.valid" class="alert">Please fill out all the red fields</div>
				<div *ngIf="error" class="alert">{{error}}</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
					<input type="text" class="form-control" name="username"
					[(ngModel)]="model.username" #username="ngModel" required />
					<span class="floating-label">Username</span>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					<input type="password" class="form-control" name="password"
					[(ngModel)]="model.password" #password="ngModel" required/>
					<span class="floating-label">Password</span>
				</div>
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
