.user-box-outer {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36),
				0 2px 10px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
}

.user-box-inner {
	display: flex;
	flex-direction: column;
	padding: .1rem 15px;
	text-align: center;
	background: #6500bf;
	border: 2px solid black;
	border-radius: 5px;
}

.user-box-top {
	height: 7rem;
	display: flex;
    justify-content: space-between;
	margin: 5px 0;
	background: white;
	border-radius: 5px;
	padding: 5px;

	.img-wrapper{
		width: 25%;
	}
}

.user-box-bottom {
	height: 20rem;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
	margin: 15px 5px;
	background: white;
	border: 2px solid black;
}

.child{
	margin: 5px 0;
}

.title{
	font-size: 2.5rem;
	text-transform: capitalize;
	display: flex;
	align-items: center;
}

.img-wrapper img {
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
}
