<div class="user-box-outer">
	<div class="user-box-inner">
		<div class="user-box-top">
			<div class="img-wrapper">
				<img src="assets/img/avatar.jpg" (click)="logAssigned()">
			</div>
			<span class="child title">{{user.data.firstName}} {{user.data.lastName}}</span>
			<button type="button" class="btn btn-success btn-s"
			(click)="assign()">
				<span class="fa fa-plus-circle"></span> Assign
			</button>
		</div>
		<div class="user-box-bottom">
			<div class="leeds" (click)="setAssigned()">
				<leed *ngFor="let leed of leeds" [leed]="leed"></leed>
			</div>
		</div>
	</div>
</div>
