/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Italic.ttf);
	font-style: italic;
}
@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: roboto;
	src: url(assets/fonts/Roboto-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Light.ttf);
	font-weight: lighter;
}
@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-LightItalic.ttf);
	font-weight: lighter;
	font-style: italic;
}

h1 {
	margin: 0;
}

body {
	margin: 0;
	font-family: roboto
}

.content {
	overflow: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6500bf;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
	bottom: 4rem;
	right: 0;
	font-size: 11px;
	opacity: 1;
}

.floating-label {
	position: relative;
	pointer-events: none;
	right: 2rem;
	bottom: 3rem;
	transition: 0.2s ease all;
}

.inner-content {
	padding: 1rem;
	display: flex;
}

.left-column {
	width: 24.9999%;
}

.right-column {
	width: 74.9999%;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

.btn:hover .btn:focus {
	color: #333;
	text-decoration: none;
}

.btn:active {
	background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:hover .btn-success:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-success:active {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-warning:hover .btn-warning:focus {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}

.btn-warning:active {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-danger:hover .btn-danger:focus {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.btn-danger:active {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
