.inner-content {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

.queue {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	width: 100%;
	width: 100%;
	background: white;
	border-radius: 5px;

	.top-row {
		display: flex;
		justify-content: space-between;

		.campaign-input {
			font-weight: bold;
			width: 65%;
		}
	}
}

.drop-zone {
	width: 75%;
	margin: 20px auto 10px auto;
	height: 150px;
	border-style: dashed;
	border-width: 5px;
	border-color: grey;
}

.file-over {
	border-color: green;
}

table {
	width: 100%;
}

.input-wrapper {
	width: 75%;
	color: transparent;
	margin: auto;
}

td{
	text-align: center;
}
