<div class="inner-content">
	<div class="queue">
		<div class="left-column">
			<div ng2FileDrop
			[ngClass]="{'file-over': hasFileOverUploadZone}"
			(fileOver)="fileOverUploadZone($event)"
			[uploader]="uploader"
			class="drop-zone">
			Drop File(s) Here.
			</div>
			<div class="input-wrapper">
				<input type="file" ng2FileSelect [uploader]="uploader" multiple  />
			</div>
		</div>
		<div class="right-column">
			<div class="top-row">
				<h3>Upload queue</h3>
				<div class="campaign-input">
					<span>Campaign</span>
					<select [(ngModel)]="campaign" (change)="updateUploader()">
						<option value="new" selected="true">New</option>
						<option *ngFor="let cmpn of campaignList" value="{{cmpn}}">{{cmpn}}</option>
					</select>
					<input *ngIf="campaign === 'new'" type="text" [(ngModel)]="newCampaign" (change)="updateUploader()" />
				</div>
			</div>
			<p>Queue length: {{ uploader?.queue?.length }}</p>

			<table class="table">
				<thead>
					<tr>
						<th class="table-name">Name</th>
						<th class="table-size">Size</th>
						<th class="table-status">Status</th>
						<th class="table-progress">Progress</th>
						<th class="table-actions">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of uploader.queue">
						<td class="table-name"><strong>{{ item?.file?.name }}</strong></td>
						<td class="table-size" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
						<td class="table-status text-center">
							<span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
							<span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
							<span *ngIf="item.isError"><i class="fa fa-times"></i></span>
						</td>
						<td class="table-progress">
							<div class="progress">
								<div class="progress-bar" role="progressbar"
									[ngStyle]="{ 'width': item.progress + '%' }">
								</div>
							</div>
						</td>
						<td class="table-actions" nowrap>
							<button type="button" class="btn btn-success btn-xs"
							(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
								<span class="fa fa-upload"></span> Upload
							</button>
							<button type="button" class="btn btn-warning btn-xs"
							(click)="item.cancel()" [disabled]="!item.isUploading">
								<span class="fa fa-ban"></span> Cancel
							</button>
							<button type="button" class="btn btn-danger btn-xs"
							(click)="item.remove()">
								<span class="fa fa-trash"></span> Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div>
				Queue progress:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-s"
				(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
					<span class="fa fa-upload"></span> Upload all
				</button>
				<button type="button" class="btn btn-warning btn-s"
				(click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
					<span class="fa fa-ban"></span> Cancel all
				</button>
				<button type="button" class="btn btn-danger btn-s"
				(click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
					<span class="fa fa-trash"></span> Remove all
				</button>
			</div>

		</div>
	</div>
</div>
